name: test-install

on:
  workflow_call:

jobs:
  test-install:
    name: Test plugin installation
    runs-on: ubuntu-latest
    steps:

      - name: Install helm
        run: |
          helm_version="3.9.3"
          tar_filename="helm-v${helm_version}-linux-amd64.tar.gz"
          checksum_filename="helm-v${helm_version}-linux-amd64.tar.gz.sha256sum"

          curl -sSL https://get.helm.sh/${tar_filename} -O
          curl -sSL https://get.helm.sh/${checksum_filename} -O
          cat ${checksum_filename} | sha256sum -c
          
          tar xzf ${tar_filename}
          sudo mv linux-amd64/helm /usr/local/bin/helm
          rm -rf linux-amd64 ${tar_filename} ${checksum_filename}

      - name: Install helm-s3 plugin
        run: |
          version="${GITHUB_SHA}"
          export HELM_S3_PLUGIN_NO_INSTALL_HOOK=true
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            version="${GITHUB_REF_NAME#v*}"
            export HELM_S3_PLUGIN_NO_INSTALL_HOOK=
          fi

          echo "Check installation of version ${version}"
          helm plugin install https://github.com/hypnoglow/helm-s3.git --version ${version}
