name: docker-images

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  docker-images:
    name: Publish docker images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        helm:
          - 2.17.0
          - 3.12.3
          - 3.13.1
    env:
      IMAGE_NAME: hypnoglow/helm-s3
      HELM_VERSION: ${{ matrix.helm }}
    steps:

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          cache: true
          go-version-file: 'go.mod'

      - name: Download dependencies
        run: |
          go mod download -x
          go mod vendor

      - name: Prepare variables
        id: vars
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const { GITHUB_REF_NAME, GITHUB_REF_TYPE, GITHUB_SHA } = process.env
            
            let helm_version_minor = "${{ matrix.helm }}".split('.').slice(0, -1).join('.')      
            
            let plugin_version = `commit.${context.sha}`
            let push = false
            if (GITHUB_REF_TYPE === "branch" && GITHUB_REF_NAME === "master") {
              plugin_version = "master"
              push = true
            }
            if (GITHUB_REF_TYPE === "tag") {
              plugin_version = GITHUB_REF_NAME.replace(/^v/, "")
              push = true
            }
            
            let build_date = new Date().toISOString()
            
            core.setOutput('helm_version_minor', helm_version_minor)
            core.setOutput('plugin_version', plugin_version)
            core.setOutput('build_date', build_date)
            core.setOutput('vcs_ref', context.sha)
            core.setOutput('push', push)

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: |
            hypnoglow/helm-s3
          tags: |
            type=semver,pattern={{ version }},suffix=-helm${{ matrix.helm }}
            type=semver,pattern={{ version }},suffix=-helm${{ steps.vars.outputs.helm_version_minor }}
            type=ref,event=branch,enable={{ is_default_branch }},suffix=-helm${{ matrix.helm }}
            type=ref,event=branch,enable={{ is_default_branch }},suffix=-helm${{ steps.vars.outputs.helm_version_minor }}
            type=raw,value=commit.{{ sha }},suffix=-helm${{ matrix.helm }}
            type=raw,value=commit.{{ sha }},suffix=-helm${{ steps.vars.outputs.helm_version_minor }}

      - name: Login to Docker Hub
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: steps.vars.outputs.push == 'true'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Build and push
        uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56 # v5.1.0
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            HELM_VERSION=${{ matrix.helm }}
            PLUGIN_VERSION=${{ steps.vars.outputs.plugin_version }}
            BUILD_DATE=${{ steps.vars.outputs.build_date }}
            VCS_REF=${{ steps.vars.outputs.vcs_ref }}
          push: ${{ steps.vars.outputs.push }}
