name: docker-images

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  docker-images:
    name: Publish docker images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        helm:
          - 2.17.0
          - 3.11.3
          - 3.12.3
    env:
      IMAGE_NAME: hypnoglow/helm-s3
      HELM_VERSION: ${{ matrix.helm }}
    steps:

      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Setup Go
        uses: actions/setup-go@268d8c0ca0432bb2cf416faae41297df9d262d7f # v3.3.0
        with:
          cache: true
          go-version-file: 'go.mod'

      - name: Download dependencies
        run: |
          go mod download -x
          go mod vendor

      - name: Prepare variables
        id: vars
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        with:
          script: |
            const { GITHUB_REF_NAME, GITHUB_REF_TYPE, GITHUB_SHA } = process.env
            
            let helm_version_minor = "${{ matrix.helm }}".split('.').slice(0, -1).join('.')      
            
            let plugin_version = `commit.${context.sha}`
            let push = false
            if (GITHUB_REF_TYPE === "branch" && GITHUB_REF_NAME === "master") {
              plugin_version = "master"
              push = true
            }
            if (GITHUB_REF_TYPE === "tag") {
              plugin_version = GITHUB_REF_NAME.replace(/^v/, "")
              push = true
            }
            
            let build_date = new Date().toISOString()
            
            core.setOutput('helm_version_minor', helm_version_minor)
            core.setOutput('plugin_version', plugin_version)
            core.setOutput('build_date', build_date)
            core.setOutput('vcs_ref', context.sha)
            core.setOutput('push', push)

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@69f6fc9d46f2f8bf0d5491e4aabe0bb8c6a4678a # v4.0.1
        with:
          images: |
            hypnoglow/helm-s3
          tags: |
            type=semver,pattern={{ version }},suffix=-helm${{ matrix.helm }}
            type=semver,pattern={{ version }},suffix=-helm${{ steps.vars.outputs.helm_version_minor }}
            type=ref,event=branch,enable={{ is_default_branch }},suffix=-helm${{ matrix.helm }}
            type=ref,event=branch,enable={{ is_default_branch }},suffix=-helm${{ steps.vars.outputs.helm_version_minor }}
            type=raw,value=commit.{{ sha }},suffix=-helm${{ matrix.helm }}
            type=raw,value=commit.{{ sha }},suffix=-helm${{ steps.vars.outputs.helm_version_minor }}

      - name: Login to Docker Hub
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b # v2.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: steps.vars.outputs.push == 'true'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Build and push
        uses: docker/build-push-action@c84f38281176d4c9cdb1626ffafcd6b3911b5d94 # v3.1.1
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            HELM_VERSION=${{ matrix.helm }}
            PLUGIN_VERSION=${{ steps.vars.outputs.plugin_version }}
            BUILD_DATE=${{ steps.vars.outputs.build_date }}
            VCS_REF=${{ steps.vars.outputs.vcs_ref }}
          push: ${{ steps.vars.outputs.push }}
